:root{
    --color-bg: #fff;
    --color-main: #000;
    --color-secondary: #f44336;
    --color-gray: #777;
    --color-box: #fff3f3;
    --color-box-dark: #bbb3b3;
}
*{
    font-family: 'Popppins', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: var(--color-bg);
    color: var(--color-main);
    &.light{
        --color-bg: #fff;
        --color-main: #000;
        & .header__nav__navlinks__ul__li_but__button__icon{
            background: var(--color-gray);
            transform: translateX(0);
            &::after{
                content: none;
            }
        }
        & .profiles__row__column{
            background-color: var(--color-box);
            &:hover{
                box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
            }
            &__p{
                color: var(--color-gray);
            }
        }
    }
    &.dark{
        --color-bg: #000;
        --color-main: #fff;
        & .header__nav__navlinks__ul__li_but__button__icon{
            background: yellow;
            transform: translateX(32px);
            &::after{
                background-color: #000;
                border-radius: 100%;
                content: "";
                display: block;
                height: 17px;
                left: -7px;
                position: absolute;
                top: 1px;
                width: 19px;
            }
        }
        & .profiles__row__column{
            background-color: var(--color-box-dark);
            &:hover{
                box-shadow: 0 0 20px 0px rgba(255,255,255,1);
            }
            &__p{
                color: var(--color-bg);
            }
        }
    }
}
@media (prefers-color-scheme: dark) {
    body {
        --color-bg: #000;
        --color-main: #fff;
        & .header__nav__navlinks__ul__li_but__button__icon {
            background: yellow;
            transform: translateX(32px);
            &::after{
                background-color: #000;
                border-radius: 100%;
                content: "";
                display: block;
                height: 17px;
                left: -7px;
                position: absolute;
                top: 1px;
                width: 19px;
            }
        }
        & .profiles__row__column{
            background-color: var(--color-box-dark);
            &:hover{
                box-shadow: 0 0 20px 0px rgba(255,255,255,1);
            }
            &__p{
                color: var(--color-bg);
            }
        }
    }
} 
.header{
    height:50vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://picsum.photos/1920/540);
    background-position:center;
    background-size:cover;
    text-align:center;
    color:#fff;
    &__nav{
        display: flex;
        padding: 2% 6%;
        justify-content: space-between;
        align-items: center;
        &__img{
            width: 150px;
        }
        & .fa{
            display: none;
        }
        &__navlinks{
            flex: 1;
            text-align: right;
            &__ul{
                &__li{
                    position: relative;
                    list-style-type: none;
                    display: inline-block;
                    padding: 8px 12px;
                    &::after{
                        content: '';
                        display: block;
                        margin: auto;
                        width: 0%;
                        height: 2px;
                        background: var(--color-secondary);
                        transition: 0.5s;
                    }
                    &:hover::after{
                        width: 100%;
                    }
                    &__a{
                        color: #fff;
                        font-size: 13px;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
                &__li_but{
                    position: relative;
                    list-style-type: none;
                    display: inline-block;
                    padding: 8px 12px;
                    &__button{
                        background-color: #000;
                        border: solid 1.5px #fff;
                        border-radius: 50px;
                        cursor: pointer;
                        height: 30px;
                        outline-width: 5px;
                        position: relative;
                        width: 60px;
                        &__icon{
                            background-color: var(--color-gray);
                            border-radius: 100%;
                            content: "";
                            display: block;
                            height: 20px;
                            margin: 3px 3px;
                            position: relative;
                            transition: background-color 0.3s, transform 0.3s;
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
    &__h1{
        margin-top: 100px;
        font-size: 36px;
        font-weight: 600;
    }
}
.blog{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px 0 50px;
    &__box{
        width: 100%;
        display: grid;
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 100px;
        &__content{
            border-bottom: 1px solid var(--color-gray);
            border-left: 1px solid var(--color-gray);
            border-right: 1px solid var(--color-gray);
            transition-duration: 0.8s;
            &:hover{
                box-shadow: 0 0 20px 0px rgba(0,0,0,0.5);
                
            }
            &__img{
                width: 100%;
                margin: 0;
            }
            &__textbox{
                text-align: left;
                display: inline-block;
                &__h3{
                    margin: 30px 15px 0;
                    color: var(--color-secondary);
                    font-size: 16px;
                    font-weight: 700;
                }
                &__h2{
                    margin: 5px 15px 10px;
                    font-size: 20px;
                }
                &__p{
                    margin: 20px 15px 10px;
                    color: var(--color-gray);
                }
                &__button{
                    float: right;
                    color: var(--color-secondary);
                    cursor: pointer;
                    border: 1px solid var(--color-secondary);
                    padding: 12px 34px;
                    background: transparent;
                    font-size: 13px;
                    margin: 0px 0px 25px;
                    transform: translateX(1px);
                    transition-duration: 0.8s;
                    &:hover{
                        border: 1px solid var(--color-secondary);
                        background: var(--color-secondary);
                        color: var(--color-bg);
                    }
                }
            }
        }
    }
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    &__p{
        color: var(--color-gray);
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
    }
    &__icons{
        & .fa{
            color: var(--color-secondary);
            margin: 0 13px;
            cursor: pointer;
            padding: 18px 0;
        }
    }
}
@media(max-width: 800px){
    .header__textbox__h1{
        font-size: 20px;
    }
    .header__nav__navlinks{
        position: absolute;
        background: var(--color-secondary);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        &__ul{
            padding: 30px;
            &__li{
                display: block;
            }
            &__li_but{
                &__button{
                    transform: translateY(0);
                }
            }
        }
    }
    .header__nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .header__textbox__h1{
        font-size: 20px;
    }
    .blog__box{
        grid-template-columns:  1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 100px;
    }

}