:root {
  --color-bg: #fff;
  --color-main: #000;
  --color-secondary: #f44336;
  --color-gray: #777;
  --color-box: #fff3f3;
  --color-box-dark: #bbb3b3;
}

* {
  font-family: 'Popppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-bg);
  color: var(--color-main);
}

body.light {
  --color-bg: #fff;
  --color-main: #000;
}

body.light .header__nav__navlinks__ul__li_but__button__icon {
  background: var(--color-gray);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

body.light .header__nav__navlinks__ul__li_but__button__icon::after {
  content: none;
}

body.light .profiles__row__column {
  background-color: var(--color-box);
}

body.light .profiles__row__column:hover {
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

body.light .profiles__row__column__p {
  color: var(--color-gray);
}

body.dark {
  --color-bg: #000;
  --color-main: #fff;
}

body.dark .header__nav__navlinks__ul__li_but__button__icon {
  background: yellow;
  -webkit-transform: translateX(32px);
          transform: translateX(32px);
}

body.dark .header__nav__navlinks__ul__li_but__button__icon::after {
  background-color: #000;
  border-radius: 100%;
  content: "";
  display: block;
  height: 17px;
  left: -7px;
  position: absolute;
  top: 1px;
  width: 19px;
}

body.dark .profiles__row__column {
  background-color: var(--color-box-dark);
}

body.dark .profiles__row__column:hover {
  -webkit-box-shadow: 0 0 20px 0px white;
          box-shadow: 0 0 20px 0px white;
}

body.dark .profiles__row__column__p {
  color: var(--color-bg);
}

@media (prefers-color-scheme: dark) {
  body {
    --color-bg: #000;
    --color-main: #fff;
  }
  body .header__nav__navlinks__ul__li_but__button__icon {
    background: yellow;
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
  }
  body .header__nav__navlinks__ul__li_but__button__icon::after {
    background-color: #000;
    border-radius: 100%;
    content: "";
    display: block;
    height: 17px;
    left: -7px;
    position: absolute;
    top: 1px;
    width: 19px;
  }
  body .profiles__row__column {
    background-color: var(--color-box-dark);
  }
  body .profiles__row__column:hover {
    -webkit-box-shadow: 0 0 20px 0px white;
            box-shadow: 0 0 20px 0px white;
  }
  body .profiles__row__column__p {
    color: var(--color-bg);
  }
}

.header {
  height: 50vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.7)), to(rgba(4, 9, 30, 0.7))), url(https://picsum.photos/1920/540);
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://picsum.photos/1920/540);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2% 6%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__img {
  width: 150px;
}

.header__nav .fa {
  display: none;
}

.header__nav__navlinks {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.header__nav__navlinks__ul__li {
  position: relative;
  list-style-type: none;
  display: inline-block;
  padding: 8px 12px;
}

.header__nav__navlinks__ul__li::after {
  content: '';
  display: block;
  margin: auto;
  width: 0%;
  height: 2px;
  background: var(--color-secondary);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__nav__navlinks__ul__li:hover::after {
  width: 100%;
}

.header__nav__navlinks__ul__li__a {
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
}

.header__nav__navlinks__ul__li_but {
  position: relative;
  list-style-type: none;
  display: inline-block;
  padding: 8px 12px;
}

.header__nav__navlinks__ul__li_but__button {
  background-color: #000;
  border: solid 1.5px #fff;
  border-radius: 50px;
  cursor: pointer;
  height: 30px;
  outline-width: 5px;
  position: relative;
  width: 60px;
}

.header__nav__navlinks__ul__li_but__button__icon {
  background-color: var(--color-gray);
  border-radius: 100%;
  content: "";
  display: block;
  height: 20px;
  margin: 3px 3px;
  position: relative;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
  width: 20px;
}

.header__h1 {
  margin-top: 100px;
  font-size: 36px;
  font-weight: 600;
}

.blog {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 100px 0 50px;
}

.blog__box {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 100px;
}

.blog__box__content {
  border-bottom: 1px solid var(--color-gray);
  border-left: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.blog__box__content:hover {
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.blog__box__content__img {
  width: 100%;
  margin: 0;
}

.blog__box__content__textbox {
  text-align: left;
  display: inline-block;
}

.blog__box__content__textbox__h3 {
  margin: 30px 15px 0;
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 700;
}

.blog__box__content__textbox__h2 {
  margin: 5px 15px 10px;
  font-size: 20px;
}

.blog__box__content__textbox__p {
  margin: 20px 15px 10px;
  color: var(--color-gray);
}

.blog__box__content__textbox__button {
  float: right;
  color: var(--color-secondary);
  cursor: pointer;
  border: 1px solid var(--color-secondary);
  padding: 12px 34px;
  background: transparent;
  font-size: 13px;
  margin: 0px 0px 25px;
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.blog__box__content__textbox__button:hover {
  border: 1px solid var(--color-secondary);
  background: var(--color-secondary);
  color: var(--color-bg);
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer__p {
  color: var(--color-gray);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.footer__icons .fa {
  color: var(--color-secondary);
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

@media (max-width: 800px) {
  .header__textbox__h1 {
    font-size: 20px;
  }
  .header__nav__navlinks {
    position: absolute;
    background: var(--color-secondary);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .header__nav__navlinks__ul {
    padding: 30px;
  }
  .header__nav__navlinks__ul__li {
    display: block;
  }
  .header__nav__navlinks__ul__li_but__button {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header__nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .header__textbox__h1 {
    font-size: 20px;
  }
  .blog__box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 100px;
  }
}
/*# sourceMappingURL=blog.css.map */